

mat-toolbar {
    background: transparent;
    color: black;
  }
  
  mat-sidenav {
    margin: 16px;
    width: auto;
    background: #ffffff !important;
    border-right: none;
    overflow:auto;
    background: transparent;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 2rem;
    color: lightgray;
  }
  
  
  
  .cover-image-wrapper {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
  }
  
  #follow{
    height: 40px;
    font-size: 20px;
  }
  
  .company-profile{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: fit-content;
    height: fit-content;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  

  }
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .edit{
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Add emphasis to the text */
    color: #3498db; /* Set a custom text color */
    text-transform: uppercase; /* Convert text to uppercase */
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  p {
    margin: 0 0 20px;
    line-height: 1.5;
  }
  
  main {
    width: 50%;
    margin:0 auto;
    transform: scale(1.3);
    background: transparent;
  }
  
  section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }
  
  input {
    display: none;
  }
  
  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }
  
  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }
    
  
  label:hover {
    color: #888;
    cursor: pointer;
  }
  
  input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid rgb(54, 108, 216);
    border-bottom: 1px solid #fff;
  }
  
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content1,
  #tab3:checked ~ #content1,
  #tab4:checked ~ #content1 {
    display: block;
  }
  
  @media screen and (max-width: 650px) {
    label {
      font-size: 10px;
    }
  
    label:before {
      margin: 0;
      font-size: 18px;
    }
  }
  @media screen and (max-width: 400px) {
    label {
      padding: 15px;
    }
  }
  
  .tab0{
    cursor:default !important;
  }