<mat-toolbar style="height: 70px;">
  <span class="edit">Edit your profile</span>

  <img class="ms-auto mt-2" src="/assets/img/Logo_ESPRIT_Ariana-removebg-preview.png" alt="esprit logo"
    style="width: 150px;">
</mat-toolbar>


<div class="container">
  <div class="row cover-image-wrapper" style="position: relative;">
    <img class="cover-image" src="/assets/img/logos/hexa-cover.png" alt="">
    <button mat-button style="position: absolute; top:0px; height: 100%;;">
      <i class="fas fa-edit fa-3x me-3"></i>
      <span class="display-6">Add cover image</span>
    </button>
  </div>




    <main class="d-none d-lg-block mt-5">
