<mat-card class="something">
    <mat-card-header>
        <h1>Sign Up</h1>

        <button mat-icon-button mat-dialog-close aria-label="Close button" class="ms-auto">
            <mat-icon>clear</mat-icon>
        </button>

    </mat-card-header>
    <mat-card-content>
        <mat-divider class="my-3"></mat-divider>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">


            <div class="row mb-3">

                <div class="col-auto mx-auto">
                    <mat-radio-group class="example-radio-group" formControlName="type" color="warn">
                        <mat-radio-button checked class="example-radio-button" value="user" > <b class="large-label">User</b></mat-radio-button>
                        <mat-radio-button #companyRadio class="example-radio-button" value="company" ><b class="large-label">Company</b></mat-radio-button>
                    </mat-radio-group>
                </div>
              </div>


            <div class="row">
                <div class="col-12 col-sm-6">
                    <mat-form-field class="col-12" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
                    </mat-form-field>

                </div>
                <div class="col-12 col-sm-6">
                    <mat-form-field class="col-12" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
                    </mat-form-field>
                </div>
            </div>

            <ng-container *ngIf="companyRadio.checked">

                <div class="row" >
                    <mat-form-field class="col-12" appearance="fill">
                        <mat-label>Company Name</mat-label>
                        <input matInput  formControlName="companyName" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                    </mat-form-field>
                </div>
                
            </ng-container>

            <div class="row">
                <mat-form-field class="col-12" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-12" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                    <div *ngIf="submitted && f['password'].errors" class="text-danger">
                        <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                    </div>
                </mat-form-field>
 
            </div>
            <div class="row">
                <mat-form-field class="col-12" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"/>
                    <div class="text-danger">
                        <div *ngIf="f['confirmPassword'].value != f['password'].value  ">Confirm Password is different to the password</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-12" appearance="fill">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone"/>
                </mat-form-field>
            </div>
            


            <div class="container my-2">
                
                <div class="row">
                    <mat-divider></mat-divider>
                    <p>By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy.</p>
                    </div>
      

                    
                    
                    <div class="col-12 my-2 mb-3">
                        <button mat-raised-button color="primary" class="col-12 mx-auto text-white" mat-raised-button [disabled]="loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                            Register
                        </button>
                    </div>
                </div>
            </form>


    </mat-card-content>


    <mat-card-footer>
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
