@media(min-width: 550px) and (min-height: 700px){
    mat-card{
        width: 500px;
        height:auto;
    }
}


@media(max-width: 550px){
    mat-card{
        max-height: 667px; /* Set the desired height here */
        overflow-y: auto;
    }
}

.large-label {
    font-size: 16px; /* Adjust the font size as needed */
  }


