<mat-drawer-container class="example-container" [hasBackdrop]="true">

    <mat-drawer #drawer [mode]="'over'" position="end">
        <div class="w-100 mb-2" style="position:relative;height: 35px;">
            <button (click)="this.drawer.close();" mat-flat-button style="position:absolute;right:0px;">
                <i class="fa fa-times fa-2x"></i>
            </button>
        </div>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Find jobs</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>

        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Company reviews</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Find salaries</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Employers</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Company reviews</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Profile</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Resume help</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">My jobs</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">My reviews</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">My demographics</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Settings</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Help center</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <div class="row my-3">
                <b class="col-auto ms-3">Sign out</b>
                <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
            </div>
        </mat-card>


    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <a href="#">
                <img id="esprit" class="split ms-1" src="/assets/img/Logo_ESPRIT_Ariana-removebg-preview.png"
                    alt="ESPRIT">
            </a>
            <div class="spacer"></div>

            <div class="a-container split" *ngFor="let link of navLinks;let i = index">
                <a (click)="selectLink(i)" class="anchor-tag d-none d-lg-flex" [class.selected]="i === selectedLink" mat-button>
                    {{link}}
                </a>
            </div>

            <div class="nav-right ms-auto">

                <div id="comment" class="a-container split2 ms-1">
                    <a class="anchor-tag" mat-button routerLink="/users">
                        <i class="fa fa-comment nav-icons"></i>
                    </a>
                </div>

                <div id="bell" class="a-containe split2 ms-1">
                    <div id="bell-filler"></div>
                    <a class="anchor-tag" mat-button routerLink="/add">
                        <i class="fa fa-bell nav-icons"></i>
                    </a>
                </div>

                <div id="user" class="a-container split2 ms-sm-1 d-none d-md-flex">
                    <a class="anchor-tag" mat-button routerLink="/">
                        <i class="fa fa-user nav-icons" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
            <div class="vertical-divider d-none d-md-flex"></div>

            <div id="post-job" class="a-container split2 mx-2">
                <a class="anchor-tag d-none d-lg-flex" mat-button routerLink="/">
                    Employers / Post job
                </a>
            </div>

            <button (click)="drawer.toggle()" class="d-flex d-lg-none" mat-icon-button color="dark"
                aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
            </button>

        </mat-toolbar>
        <hr>


        <router-outlet></router-outlet>


    </mat-drawer-content>
</mat-drawer-container>