<!-- Remove the ng-template matStepLabel -->
<div class="container w-50">
    <div class="row my-5">

        <div class="col-auto">
            <h1 id="name" class="mt-5">
                <b>nizar ouertani</b>
            </h1>
        </div>
        <div class="col-auto ms-auto row">
            <div class="col-auto ms-auto row" style="position: relative;">
                <div
                    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; width: 100%; background-image: url('/assets/img/logos/user-logo.avif'); background-size: cover; background-position: center; background-repeat: no-repeat; filter: blur(4px);">
                </div>
                <button mat-flat-button class="col-auto"
                    style="height: 100%; width: 100%; border-radius: 50%; background-color: transparent;">
                    <b style="font-weight: 900; color: black;">
                        ADD IMAGE
                    </b>
                </button>
            </div>


        </div>





        <hr class="mt-3" />



    </div>
</div>

<div class="container rounded p-4 w-50"
    style="background-color: rgb(227, 226, 226); color:#464447; position: relative; cursor: pointer;">

    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <mat-icon>mail</mat-icon>
                    <span class="mb-2 ms-2">
                        {{profile.email}}
                    </span>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12 d-flex align-items-center">
                    <mat-icon>phone</mat-icon>
                    <span class="mb-2 ms-2">
                        +216 {{profile.phoneNumber}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <mat-icon>location_on</mat-icon>
                    <span class="mb-2 ms-2">
                        {{profile.address}} {{profile.city}} {{profile.postalCode}}
                    </span>
                </div>
            </div>

        </div>
        <div class="col-auto ms-auto my-auto">

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <button mat-menu-item color="primary" routerLink="/user/user-form">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>restore</mat-icon>
                    <span>Reset</span>
                </button>
            </mat-menu>

        </div>
    </div>
</div>

<div class="container mt-3 w-50">
    <div class="row">
        <h1>
            Resume
        </h1>
    </div>

</div>
<ng-container>

    <div class="container p-4 w-50 border border-grey rounded-2">
        <div class="row">
            <div class="col-auto">
                <img src="/assets/img/logos/documentLogo.png" alt="document" style="width: 80px;">
            </div>

            <div class="col-auto my-auto">
                <h4 style="margin-bottom: 0px;"> <b>CV.pdf</b> </h4>
                <span class="text-muted">05/08/2023</span>
            </div>

            <div class="col-auto ms-auto my-auto">
                <button mat-icon-button [matMenuTriggerFor]="resumeMenu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #resumeMenu="matMenu">
                    <button mat-menu-item (click)="previewResume()">
                        <mat-icon>preview</mat-icon>
                        <span>Preview</span>
                    </button>

                </mat-menu>
            </div>

        </div>
    </div>

    <input value="https://exploringjs.com/impatient-js/downloads/impatient-js-preview-book.pdf" type="file" name="" id="">
</ng-container>

<!-- <ng-container class="row" *ngIf="file==null">
    <div class="container p-4 w-50 border border-grey rounded-2">
        <div class="row">
            <div class="col-12">
                <button class="col-12 my-3" type="button" color="primary" mat-stroked-button (click)="fileInput.click()">
                    Upload your resume
                    <mat-icon>get_app</mat-icon>
                </button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file">
            </div>
        </div>
    </div>

</ng-container> -->