<div class="sidebar" [class.open]="open">
  <div class="logo-details">
    <h1 class="text-dark">menu</h1>
  </div>
  <ul class="nav-list">
    <li>
      <a href="#">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a routerLink="/company/reviews">
        <i class='bx bx-user'></i>
        <span class="links_name">Reviews</span>
      </a>
      <span class="tooltip">User</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-chat'></i>
        <span class="links_name">Messages</span>
      </a>
      <span class="tooltip">Messages</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="links_name">Analytics</span>
      </a>
      <span class="tooltip">Analytics</span>
    </li>
    <li>
      <a routerLink="/company/jobs">
        <i class='bx bx-briefcase'></i>
        <span class="links_name">Jobs</span>
      </a>
      <span class="tooltip">Files</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cart-alt'></i>
        <span class="links_name">Order</span>
      </a>
      <span class="tooltip">Order</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-heart'></i>
        <span class="links_name">Saved</span>
      </a>
      <span class="tooltip">Saved</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Setting</span>
      </a>
      <span class="tooltip">Setting</span>
    </li>
  </ul>
</div>