
    <div class="w-100 mb-2" style="position:relative;height: 35px;">
        <button mat-flat-button style="position:absolute;right:0px;">
            <i class="fa fa-times fa-2x"></i>
        </button>
    </div>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Find jobs</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>

    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Company reviews</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Find salaries</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Employers</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Company reviews</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Profile</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Resume help</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">My jobs</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">My reviews</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">My demographics</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Settings</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Help center</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="row my-3">
            <b class="col-auto ms-3">Sign out</b>
            <i class="fa-solid fa-plus col-auto ms-auto" style="margin-right: 15px;"></i>
        </div>
    </mat-card>


