<div class="container border border-1 rounded bg-white my-3 card"
  style="border-color: rgb(187, 187, 187); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">
  <div class="row">


    <mat-stepper class="scrollable-div" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Basic informations</ng-template>

          <hr>

          <h4 class="mb-1"> <b> Job title* </b></h4>
          <mat-form-field class="col-12 example-full-width">
            <input matInput formControlName="title" placeholder="Enter job title here">
          </mat-form-field>

          <br>

          <h4 class="mb-1 mt-2"> <b>Number of people to hire for this job*</b></h4>
          <mat-form-field class="col-12 example-full-width">
            <mat-label>Select number</mat-label>
            <mat-select formControlName="people_number">
              <mat-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" value="{{ i }}">{{ i }}</mat-option>
              <mat-option value="11"> +10 </mat-option>
            </mat-select>
          </mat-form-field>
          <hr>


          <br>

          <h4 class="mb-1 mt-2"> <b>Which option best describes this job's location?*</b></h4>

          <mat-form-field class="col-12 example-full-width">
            <mat-label> Select job's location description</mat-label>
            <mat-select formControlName="option">
              <mat-option class="my-2" value="In person, precise location"> <b> In person, precise location</b> <br>
                <span> The job is performed at a specific address.</span> </mat-option>
              <mat-option class="my-2" value="general location, within a limited area"> <b> general location, within a
                  limited area</b> <br> <span> The job address can't be specified.</span> </mat-option>
              <mat-option class="my-2" value="Remote"> <b> Remote</b> <br> <span> The job is performed remotely. No
                  on-site work required. </span> </mat-option>
              <mat-option class="my-2" value="Hybrid Remote"> <b> Hybrid Remote</b> <br> <span> The job combines on-site
                  work at a specific address with some remote flexibility. </span> </mat-option>
              <mat-option class="my-2" value="On the road"> <b> On the road</b> <br> <span> The job requires regular
                  travel. </span> </mat-option>

            </mat-select>
          </mat-form-field>
          <div class="row">
            <button mat-button matStepperNext class="ms-auto col-auto">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Schedule">
        
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Schedule</ng-template>


          <h4 class="mb-1"> <b> Profile Insights* </b></h4>
          <button mat-mini-fab class="me-2" (click)="addInsight(insightInput.value);">
            <mat-icon>add</mat-icon>
          </button>

          <mat-form-field class="col-12 col-lg-3" appearance="outline">
            <input matInput formControlName="insights" #insightInput  placeholder="Press enter to add an insight.">
          </mat-form-field>



          <button mat-button *ngFor="let insight of offer.profile_insights;let i=index;" (click)="deleteInsight(i)" class="rounded-pill personal-pill text-white ms-2">
            {{insight}}
            <mat-icon>close</mat-icon>
          </button>

          <h4 class="mb-1"> <b> Job Details* </b></h4>

          <button mat-mini-fab class="me-2" (click)="addDetail(detailInput.value);">
            <mat-icon>add</mat-icon>
          </button>

          <mat-form-field class="col-12 col-lg-3" appearance="outline">
            <input matInput  formControlName="details" #detailInput placeholder="Press enter to add a detail.">
          </mat-form-field>

          <button *ngFor="let detail of offer.job_details;let i = index;" (click)="deleteDetail(i)" mat-button class="rounded-pill personal-pill text-white ms-2">
            {{detail}}
            <mat-icon>close</mat-icon>
          </button>
          
          

          <div><strong style="font-size:medium;">Job type*</strong></div>
          <mat-button-toggle-group class="mt-2 row" name="options" aria-label="Options" multiple>
            <mat-button-toggle class="col-auto mb-2" value="Full-time" (click)="toggleIcon('Full-time',0)">
              <i class="fas" [ngClass]="{'fa-plus': !showCheck('Full-time'), 'fa-check': showCheck('Full-time')}"
                aria-hidden="true"></i>
              Full-time
            </mat-button-toggle>
            <mat-button-toggle class="col-auto mb-2" value="Part-time" (click)="toggleIcon('Part-time',1)">
              <i class="fas" [ngClass]="{'fa-plus': !showCheck('Part-time'), 'fa-check': showCheck('Part-time')}"
                aria-hidden="true"></i>
              Part-time
            </mat-button-toggle>
            <mat-button-toggle class="col-auto mb-2" value="Contract" (click)="toggleIcon('Contract',2)">
              <i class="fas" [ngClass]="{'fa-plus': !showCheck('Contract'), 'fa-check': showCheck('Contract')}"
                aria-hidden="true"></i>
              Contract
            </mat-button-toggle>
            <mat-button-toggle class="col-auto mb-2" value="Temporary" (click)="toggleIcon('Temporary',3)">
              <i class="fas" [ngClass]="{'fa-plus': !showCheck('Temporary'), 'fa-check': showCheck('Temporary')}"
                aria-hidden="true"></i>
              Temporary
            </mat-button-toggle>
            <mat-button-toggle class="col-auto mb-2" value="Internship" (click)="toggleIcon('Internship',4)">
              <i class="fas" [ngClass]="{'fa-plus': !showCheck('Internship'), 'fa-check': showCheck('Internship')}"
                aria-hidden="true"></i>
              Internship
            </mat-button-toggle>
          </mat-button-toggle-group>


          <div class="mt-4"><strong style="font-size:medium;">schedule</strong></div>
          <mat-button-toggle-group class="mt-2 row" name="options" aria-label="Options" multiple>
            <mat-button-toggle *ngFor="let s of schedule; let i = index;" class="col-auto mb-2" [value]="s"
              (click)="toggleIcon2(s,i)">
              <i class="fas" [ngClass]="{'fa-plus': !showCheck2(s), 'fa-check': showCheck2(s)}"
                aria-hidden="true"></i>
              {{ s }}
            </mat-button-toggle>
          </mat-button-toggle-group>


          <hr>

          <div class="row">
            <button mat-button matStepperPrevious class="ms-auto col-auto">Back</button>
            <button mat-button matStepperNext class="col-auto">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>

        <form [formGroup]="thirdFormGroup" (ngSubmit)="SubmitThird()">


        <ng-template matStepLabel>Payement</ng-template>

        <h2 class="mb-1"> <b>Payement</b> </h2>
        <mat-form-field class="col-3 example-full-width">
          <mat-label>Minimum Amount</mat-label>
          <input matInput formControlName="minSalary" type="number">
        </mat-form-field>

        <mat-form-field class="col-3 example-full-width">
          <mat-label>Maximum Amount</mat-label>
          <input matInput formControlName="maxSalary" type="number">
        </mat-form-field>

        <mat-form-field class="col-4 example-full-width ms-3">
          <mat-label>Rate</mat-label>
          <mat-select>
            <mat-option value="per hour"> Per hour</mat-option>
            <mat-option value="per day"> Per day</mat-option>
            <mat-option value="per week"> Per week</mat-option>
            <mat-option value="per month"> Per month</mat-option>
            <mat-option value="per year"> Per year</mat-option>
          </mat-select>
        </mat-form-field>
        <hr>


        <h2 class="mb-3"> <b>Job description*</b> </h2>

        <div class="col-11 h-50 mx-auto" style="transform: scale(1.05);">
          <angular-editor [config]="editorConfig" #editor [placeholder]="'Enter text here...'" ></angular-editor>
        </div>
        <div class="container">
          {{htmlContent}}
        </div>


        <div class="row">
          <button mat-button matStepperPrevious class="ms-auto col-auto">Back</button>
          <button mat-button (click)="stepper.reset()" class="col-auto">Reset</button>
          <button mat-button color="primary" (click)="addOffer(editor)">Add Offer</button>
        </div>
      </form>
      </mat-step>
    </mat-stepper>



  </div>
</div>
