.container {
  padding: 10px 10px 10px 10px;
}


/* app.component.css */
.mat-button-toggle {
  border-radius: 100px;
  margin-right: 10px;
  background-color: #fbfbfb; /* Blue color */
  color: rgb(0, 0, 0);
  padding: 0px 4px 0px 4px;
  border-color: black !important;
  border-width: 2px !important;
  border-style: solid !important;
  font-size: 16px;
}

.mat-button-toggle.mat-button-toggle-checked {
  background-color: #747375; /* Blue color */
  border-color: #747375 !important;
  color: white;
}

mat-button-toggle-group {
  border: none;
}

.personal-pill{
  background-color: #aeaeae !important;
}

.scrollable-div {
  max-height: 700px; /* Set the maximum height for scrolling */
  overflow-y: auto; /* Add vertical scrolling */

}
