<mat-card class="container">

    <mat-card-header>
        <mat-card-title>
            <h1>
                Apply to Samsung
            </h1>
        </mat-card-title>
    </mat-card-header>

    <mat-divider class="my-3"></mat-divider>



    <mat-card-content class="my-3">
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Contact info</ng-template>

                    <div class="row my-5">
                        <div class="col-auto">
                            <img src="/assets/img/logos/user-logo.avif" alt="user logo" style="width: 65px;">
                        </div>
                        <div class="col-auto">
                            <b>
                                Mohamed Mokhtar Hadded
                            </b>
                            <br>
                            Software engineer
                        </div>
                    </div>

                    <div class="row">

                        <mat-form-field class="col-12">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="user@gmail.com" value="Mokhtar.hadded@esprit.tn">
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <mat-label>phone</mat-label>
                            <input matInput placeholder="enter phone number" value="+216 20503020">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button class="col-1 ms-auto" mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="Additional Questions">
                <form [formGroup]="secondFormGroup">
                    <div class="row">

                        <h4>How many years of work experience do you have with Python (Programming Language)?</h4>


                        <mat-form-field class="col-12">
                            <input matInput placeholder="Enter the response here" value="">
                        </mat-form-field>

                        <h4>How many years of work experience do you have with JavaScript?</h4>


                        <mat-form-field class="col-12">
                            <input matInput placeholder="Enter the response here" value="">
                        </mat-form-field>

                        <h4>How many years of work experience do you have with SQL?</h4>


                        <mat-form-field class="col-12">
                            <input matInput placeholder="Enter the response here" value="">
                        </mat-form-field>

                    </div>
                    <div class="row">
                        <button class="col-1 ms-auto" mat-button matStepperPrevious>Back</button>
                        <button class="col-1" mat-button matStepperNext>Review</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <button mat-button color="primary">
                    Review your application
                    <mat-icon>rate_review</mat-icon>
                </button>
                <div class="row">
                    <button class="col-1 ms-auto" mat-button matStepperPrevious>Back</button>
                    <button class="col-1" mat-button (click)="stepper.reset()">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card-content>
</mat-card>