
<div class="container my-4 scrollable-div">
    
    
    
    <div class="row mt-3">
        <div class="row">

            <div class="col-12 col-lg-3 border border-2 rounded-3 px-4">
                <div class="row" style="position: relative;">
                    <div class="col-auto">
                        <div class="col-auto display-5 card-title mt-4">TOTAL TRAFIC</div>
                        <span class="percentage">
                            350,897 
                        </span>
                    </div>
                    <div class="card-logo d-flex justify-content align-items-center">
                        <mat-icon class="text-white">rate_review</mat-icon>
                    </div>
                </div>
                <div class="row my-3 mt-4">
                    <i class="fa-solid fa-arrow-up col-auto text-success">3.48%</i>
                    <span class="col-auto since">
                        Since last month 
                    </span>
                </div>
            </div>
            

            <div class="col-12 col-lg-3 border border-2 rounded-3 mx-lg-4 my-4 my-lg-0">
                <div class="row" style="position: relative;">
                    <div class="col-auto">
                        <div class="col-auto display-5 card-title mt-4">TOTAL TRAFIC</div>
                        <span class="percentage">
                            350,897 
                        </span>
                    </div>
                    <div class="card-logo2 d-flex justify-content align-items-center">
                        <i class="fas fa-chart-pie text-white fa-2x"></i>
                    </div>
                </div>
                <div class="row my-3 mt-4">
                    <i class="fa-solid fa-arrow-up col-auto text-success">3.48%</i>
                    <span class="col-auto since">
                        Since last month 
                    </span>
                </div>
            </div>

            <div class="col-12 col-lg-3 border border-2 rounded-3 px-4">
                <div class="row" style="position: relative;">
                    <div class="col-auto">
                        <div class="col-auto display-5 card-title mt-4">TOTAL TRAFIC</div>
                        <span class="percentage">
                            350,897 
                        </span>
                    </div>
                    <div class="card-logo3 d-flex justify-content align-items-center">
                        <mat-icon class="text-white">supervisor_account</mat-icon>
                    </div>
                </div>
                <div class="row my-3 mt-4">
                    <i class="fa-solid fa-arrow-up col-auto text-success">3.48%</i>
                    <span class="col-auto since">
                        Since last month 
                    </span>
                </div>
            </div>

        </div>

        <h3 class="mt-3"> <b>ABOUT US:</b></h3>
        <p>
            Newry is a consulting firm focused on driving growth for innovation leadership at global
            companies. Since 1987, we have been helping our clients identify and pursue
            opportunities in new markets and technologies. Our clients are typically innovators in
            materials science, polymers and chemicals, industrial systems, and components, or
            finished goods. Our long-standing professional relationships are proof of our high
            success rate in delivering results above and beyond expectations.

            Newry recruits, employs, contracts, trains, compensates, and promotes regardless of
            race, religion, color, national origin, sex, disability, age, veteran status, and other
            protected statuses as required by applicable law.
        </p>
    </div>


    <div class="row">
        <div class="col-6">
            <app-line></app-line>
        </div>
        <div class="col-6">
            <app-bar></app-bar>
        </div>
    </div>

</div>




