.option-button {
    background-color: rgb(223, 223, 223);
    margin-inline: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
    padding: 20px;
  }
  
  
  @media (min-width: 1000px) {
    .search-button {
      height: 55px;
      width: auto;
    }
  }
  
  @media (max-width: 1000px) {
    .search-button {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  /* Custom styles for the container */
  .custom-form-field-container {
    border-radius: 20px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
  }
  
  /* Custom styles for mat-form-field */
  .custom-form-field {
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
  }
  
  /* Custom styles for mat-icon */
  .custom-icon {
    margin-left: 10px;
  }
  
  .stars {
    font-size: 20px;
  }
  
  .stars-icons {
    margin-right: -15px;
  }
  
  .favorite-hide {
    background-color: rgb(231, 231, 231);
    font-size: 20px;
    color: black;
  }
  
  .badges {
    padding: 5px !important;
    font-size: 12px;
    color: rgb(59, 59, 59);
    background-color: rgb(238, 238, 238);
  }
  
  .scrollable-div {
    height: 400px;
    /* Set the height of the div, or use max-height if you want it to expand based on content */
    overflow: auto;
    /* or overflow: scroll; */
  }
  
  .job-description {
    position: sticky;
    top: -2px;
    /* Specify the offset from the top of the viewport at which the element sticks */
  }
  
  .badges2 {
    padding: 5px !important;
    font-size: 14px;
    color: rgb(59, 59, 59);
    background-color: rgb(238, 238, 238);
  }
  
  .post-date {
    color: rgb(148, 148, 148);
    font-size: small;
  }
  
  div.selected {
    /* border-right: 2px solid rgb(60, 125, 255) !important; */
     border: 3px solid rgb(144, 176, 242) !important;
    /* border-left: 2px solid rgb(80, 131, 232) !important; */
    /* Transparent border for the selected div */
    /* Add a linear gradient to create the fading effect */
    /* background-color: #aab3fa7c !important;
  
    background-image: linear-gradient(135deg, #8bc5ec 32%rgb(149, 153, 226)E2 100%) !important;; */
  
    /* background-image: linear-gradient(to left, rgba(228, 232, 245, 0.621), transparent) !important; */
  
  }

/* Dialog container */
.deleteDialog {
  padding: 20px;
  max-width: 400px;
  border-radius: 6px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

/* Header text */
.deleteDialog h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;  
}

/* Button styling */
.deleteDialog button {
  margin: 10px;
}

/* Button colors */
.deleteDialog .mat-warn {
  color: white;
  background-color: #f44336;
}

.deleteDialog .mat-primary {
  color: white; 
  background-color: #1976d2;
}