.option-button{
    background-color: rgb(223, 223, 223);
    margin-inline: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
    padding: 20px;
}


@media (min-width: 1000px) {
    .search-button{
        height: 55px;
        width: auto;
    }
  }

@media (max-width: 1000px) {
    .search-button {
        margin-left: auto;
        margin-right: auto;
    }
  }

  /* Custom styles for the container */
  .custom-form-field-container {
    border-radius: 20px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
  }
  
  /* Custom styles for mat-form-field */
  .custom-form-field {
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
  }
  
  /* Custom styles for mat-icon */
  .custom-icon {
    margin-left: 10px;
  }

.stars{
    font-size: 20px;
}

.stars-icons{
    margin-right: -15px;
}
  
.favorite-hide{
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    color:black;
}
.badges{
    padding: 5px !important;
    font-size: 12px;
    color: rgb(59, 59, 59);
}

.scrollable-div {
    height: 400px; /* Set the height of the div, or use max-height if you want it to expand based on content */
    overflow: auto; /* or overflow: scroll; */
  }

.job-description{
    position: sticky;
    top: -35px; /* Specify the offset from the top of the viewport at which the element sticks */
  }
