<div class="container-fluid h-100 w-100 d-flex align-items-center justify-content-center">
    <div>
        <div class="row">

            <div class="col-12 col-md-6 mx-auto pt-5">
                <img id="esprit-logo" class="mx-auto mt-5" src="./assets/img/Logo_ESPRIT_Ariana-removebg-preview.png"
                    alt="Esprit logo">
                <h1 class="d-none d-md-flex" style="color: rgb(0, 0, 0);">

                    Find jobs through our community

                </h1>
            </div>

            <mat-card class="col-12 col-md-6 pt-3">
                <mat-card-content class="row">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">

                        <mat-form-field class="col-12" appearance="fill">
                            <mat-label>example@esprit.tn</mat-label>
                            <input matInput formControlName="email"
                                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                            <mat-icon matPrefix>email</mat-icon>
                        </mat-form-field>
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                        </div>




                        <mat-form-field class="col-12" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                            <mat-icon matPrefix>lock</mat-icon>
                        </mat-form-field>
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                        </div>
                        <div class="col-12 my-2">
                            <button class="col-12 mx-auto" mat-raised-button color="primary" [disabled]="loading">
                                Login
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                            </button>
                        </div>
                        <div class="col-12 d-flex justify-content-center my-2">
                            <a href="#" class="text-center">
                                Forgot password?
                            </a>
                        </div>
                        <mat-divider class="my-4"></mat-divider>
                        
                        <div class="col-12 my-2">
                            <button (click)="openDialog()" class="col-12 mx-auto" mat-stroked-button color="primary">
                                Register
                            </button>
                        </div>
                    </form>
                    </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>