<mat-card class="container col-12 col-lg-7">

    <mat-card-header>
        <mat-card-title>
            <h1>
                Profile progress
            </h1>




        </mat-card-title>

    </mat-card-header>

    <mat-progress-bar class="my-3" mode="determinate" value="{{progressForm}}" strokeWidth="30"></mat-progress-bar>




    <mat-card-content class="my-3">

        <mat-stepper [linear]="isLinear" #stepper>

            <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
                <form [formGroup]="secondFormGroup">
                    <div class="row mt-4">
                        <h2>Upload Your Resume</h2>
                        <p>Please upload your resume in PDF.</p>

                        <button class="col-12 my-3" type="button" color="primary" mat-raised-button (click)="fileInput.click()" >
                            Upload your resume
                            <mat-icon>get_app</mat-icon>
                        </button>
                        <input hidden (change)="onFileSelected($event)" #fileInput type="file">


                        <div *ngIf="file" class="container p-4 w-75 border border-grey rounded-2">
                            <div class="row">
                                <div *ngIf="keepSpinning" class="col">
                                    <mat-spinner></mat-spinner>
                                </div>

                                <div *ngIf="!keepSpinning" class="col-auto">
                                    <img src="/assets/img/logos/documentLogo.png" alt="document" style="width: 80px;">
                                </div>
                        
                                <div *ngIf="!keepSpinning" class="col-auto my-auto">
                                    <h4 style="margin-bottom: 0px;"> <b>{{file?.name}}</b> </h4>
                                    <span class="text-muted">{{file?.lastModifiedDate | date:'short'}}</span>
                                </div>
                        
                                <div *ngIf="!keepSpinning" class="col-auto ms-auto my-auto">
                                    <button mat-icon-button [matMenuTriggerFor]="resumeMenu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #resumeMenu="matMenu">
                                        <button mat-menu-item>
                                            <mat-icon>preview</mat-icon>
                                            <span>Preview</span>
                                        </button>
                                        <button mat-menu-item color="primary">
                                            <mat-icon>download</mat-icon>
                                            <span>Download</span>
                                        </button>
                                        <button mat-menu-item class="text-danger">
                                            <mat-icon color="warn">delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>
                                </div>
                        
                        
                        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="col-1 ms-auto" mat-button matStepperNext (click)="updateProgress(25)">Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="Additional Questions">
                
                <form [formGroup]="form">
                    <div class="row mt-4">
                        <h1>What is your name?</h1>
                        <!-- Remove the ng-template matStepLabel -->

                        <h4>Email*</h4>
                        <mat-form-field class="col-12" appearance="fill">
                            <input formControlName="email" matInput placeholder="Enter Email" [value]="userInfo.email">
                        </mat-form-field>

                        <h4>First name*</h4>
                        <mat-form-field class="col-12" appearance="fill">
                            <input formControlName="firstName" matInput placeholder="Enter first name" [value]="userInfo.firstName">
                        </mat-form-field>

                        <h4>Last name*</h4>
                        <mat-form-field class="col-12">
                            <input formControlName="lastName" matInput placeholder="Enter last name" [value]="userInfo.lastName">
                        </mat-form-field>

                    </div>
                    <div class="row">
                        <button class="col-1 ms-auto" mat-button matStepperPrevious
                            (click)="updateProgress(-25)">Back</button>
                        <button class="col-1" mat-button matStepperNext (click)="updateProgress(10)">next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="Additional Questions">
                <form [formGroup]="form">
                    <div class="row mt-4">
                        <h1>Would you like to add a phone number to your resume?</h1>
                        <!-- Remove the ng-template matStepLabel -->
                        <h4>Phone number</h4>
                        <span class="text-muted mb-3">Only provided to employers you apply or respond to</span>

                        <mat-form-field class="col-12">
                            <mat-icon matPrefix>phone</mat-icon>
                            <input matInput formControlName="phoneNumber" placeholder="Enter phone number" [value]="userInfo.phone">
                        </mat-form-field>
                        <mat-checkbox color="primary">
                            <b>
                                Show my number on <span class="text-primary">Esprit Now</span> 
                            </b>
                        </mat-checkbox>

                        <span class="text-muted col-11 mx-auto">By submitting the form with this box checked,
                            you confirm
                            that you are
                            the primary user and subscriber to the telephone number provided, and you agree
                            to
                            receive calls (including using artificial or pre-recorded voice), texts, and
                            WhatsApp messages from Indeed and employers who use Indeed at the telephone
                            number
                            provided above.
                        </span>


                    </div>
                    <div class="row">

                        <button class="col-1 ms-auto" mat-button matStepperPrevious
                            (click)="updateProgress(-10)">Back</button>

                        <button class="col-1" mat-button matStepperNext (click)="updateProgress(10)">next</button>

                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="Additional Questions">
                <form [formGroup]="secondFormGroup">
                    <div class="row mt-4">
                        <h1>Where are you located?</h1>

                        <span class="text-muted mb-3">
                            This helps match you with nearby jobs
                        </span>
                        <!-- Remove the ng-template matStepLabel -->
                        <b style="font-size: large;">Country</b>
                        <span>Tunisia</span>

                        <h4 class="mt-3">Street address</h4>
                        <mat-form-field class="col-12">
                            <input matInput placeholder="Enter street address" [value]="userInfo.streetAddress">
                        </mat-form-field>

                        <h4>City, State*</h4>
                        <mat-form-field class="col-12">
                            <input matInput placeholder="Enter city, state address" [value]="userInfo.city">
                        </mat-form-field>

                        <h4>Postal code</h4>
                        <mat-form-field class="col-12">
                            <input matInput placeholder="Enter postal code" [value]="userInfo.postalCode">
                        </mat-form-field>




                    </div>
                    <div class="row">

                        <button class="col-1 ms-auto" mat-button matStepperPrevious
                            (click)="updateProgress(-20)">Back</button>

                        <button class="col-1" mat-button matStepperNext (click)="updateProgress(20)">next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="Additional Questions">
                <form [formGroup]="secondFormGroup">
                    <div class="row mt-4">
                        <h1>Add education</h1>

                        <div class="row border border-dark rounded p-3 w-100 mx-auto">
                            <div class="col-auto">
                                <h3><b> Business intelligence in ESB</b></h3>
                                <p>
                                    ddasc - Arizona<br>
                                    September 2004 to October 2018
                                </p>
                            </div>
                            <div class="col-auto ms-auto my-auto">
                                <button mat-icon-button class="edit-button">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" class="delete-button">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>

                        <button (click)="addEducationPage()" mat-button color="primary" class="my-4 mx-auto col-10">
                            <mat-icon>add</mat-icon>
                            Add Education
                        </button>




                    </div>
                    <div class="row">

                        <button class="col-1 ms-auto" mat-button matStepperPrevious
                            (click)="updateProgress(-10)">Back</button>

                        <button #next class="col-1" mat-button matStepperNext (click)="updateProgress(20)">next</button>
                    </div>
                </form>
            </mat-step>

            <ng-container *ngIf="addEducationEnabled">

                <mat-step [stepControl]="secondFormGroup" label="Additional Questions">
                    <form [formGroup]="secondFormGroup">
                        <div class="row mt-4">
                            <h1>Add education</h1>

                            <h4>Field of study</h4>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="computer science, mechanical engineer ...">
                            </mat-form-field>

                            <h4 class="mt-3">Level of education*</h4>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Enter street address">
                            </mat-form-field>


                            <h4>School</h4>


                            <mat-form-field class="col-12">
                                <mat-label>Ecole</mat-label>


                                <mat-select>
                                    <mat-option value="Esprit Engineering"
                                        (click)="enableAnotherSchool(false);enableEspritSchools(true);">
                                        An Esprit school
                                    </mat-option>

                                    <mat-option #autre value="another" (click)="enableAnotherSchool(true)">
                                        Another
                                    </mat-option>

                                </mat-select>

                            </mat-form-field>

                            <mat-form-field *ngIf="anotherSchoolEnabled" class="col-12">
                                <input matInput placeholder="School name">
                            </mat-form-field>


                            <form class="col-12" *ngIf="espritSchoolsEnabled">
                                <mat-form-field class="col-12">
                                    <mat-label>choose major</mat-label>

                                    <input type="text" placeholder="choose your school" aria-label="Number" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">

                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option}}
                                        </mat-option>

                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>


                            <h4>From</h4>

                            <mat-form-field class="col-6">
                                <mat-label>Month</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let month of months" [value]="month">
                                        {{month}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="col-6">
                                <mat-label>Year</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let year of years" [value]="year">
                                        {{year}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <h4>To</h4>

                            <mat-form-field class="col-6">
                                <mat-label>Month</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let month of months" [value]="month">
                                        {{month}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="col-6">
                                <mat-label>Year</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let year of years" [value]="year">
                                        {{year}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>
                        <div class="row">
                            <button class="col-1 ms-auto" mat-button color="primary" matStepperPrevious
                                (click)="addEducation()">save</button>
                        </div>
                    </form>
                </mat-step>

            </ng-container>



            <mat-step>
                <!-- Remove the ng-template matStepLabel -->
                <p>You are now done.</p>
                <button mat-button color="primary">
                    Review your application
                    <mat-icon>rate_review</mat-icon>
                </button>
                <div class="row">
                    <button class="col-1 ms-auto" mat-button matStepperPrevious
                        (click)="updateProgress(-25)">Back</button>
                    <button class="col-1" mat-button>Submit</button>
                </div>
            </mat-step>

        </mat-stepper>
    </mat-card-content>

</mat-card>