<mat-card class="container">

    <mat-card-header>
        <mat-card-title>
            <h1>
                Apply to this job
            </h1>
        </mat-card-title>
    </mat-card-header>

    <mat-divider class="my-3"></mat-divider>



    <mat-card-content class="my-3">
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Contact info</ng-template>

                    <div class="row my-5">
                        <div class="col-auto">
                            <img src="/assets/img/logos/user-logo.avif" alt="user logo" style="width: 65px;">
                        </div>
                        <div class="col-auto">
                            <b>
                                {{user.firstName | titlecase}} {{user.lastName | titlecase}}
                            </b>
                            <br>
                            Software engineer
                        </div>
                    </div>

                    <div class="row">

                        <mat-form-field class="col-12">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="user@gmail.com" value="nizar@gmail.com">
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <mat-label>phone</mat-label>
                            <input matInput placeholder="enter phone number" value="+216 20504096">
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <button class="col-1 ms-auto" mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
                <form [formGroup]="secondFormGroup">
                    <div class="row mt-4">
                        <h2>Upload Your Resume</h2>
                        <p>Please upload your resume in PDF.</p>

                        <button class="col-12 my-3" type="button" color="primary" mat-raised-button (click)="fileInput.click()" >
                            Upload your resume
                            <mat-icon>get_app</mat-icon>
                        </button>
                        <input hidden (change)="onFileSelected($event)" #fileInput type="file">


                        <div *ngIf="file" class="container p-4 w-75 border border-grey rounded-2">
                            <div class="row">
                                <div *ngIf="keepSpinning" class="col">
                                    <mat-spinner></mat-spinner>
                                </div>

                                <div *ngIf="!keepSpinning" class="col-auto">
                                    <img src="/assets/img/logos/documentLogo.png" alt="document" style="width: 80px;">
                                </div>
                        
                                <div *ngIf="!keepSpinning" class="col-auto my-auto">
                                    <h4 style="margin-bottom: 0px;"> <b>{{file?.name}}</b> </h4>
                                    <span class="text-muted">{{file?.lastModifiedDate | date:'short'}}</span>
                                </div>
                        
                                <div *ngIf="!keepSpinning" class="col-auto ms-auto my-auto">
                                    <button mat-icon-button [matMenuTriggerFor]="resumeMenu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #resumeMenu="matMenu">
                                        <button mat-menu-item (click)="previewResume()">
                                            <mat-icon>preview</mat-icon>
                                            <span>Preview</span>
                                        </button>

                                        <button mat-menu-item class="text-danger" (click)="deleteResume()">
                                            <mat-icon color="warn">delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>
                                </div>
                        
                        
                        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="col-1 ms-auto" mat-button matStepperPrevious >Back</button>
                        <button class="col-1" mat-button matStepperNext >Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done!</p>

                <div class="row">
                    <button class="col-1 ms-auto" mat-button matStepperPrevious>Back</button>
                    <button class="col-1" mat-button (click)="sumbitCandidature();closeDialog()">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card-content>
</mat-card>

<ng-template #successDialog>
    <mat-dialog-content class="dialog-content">
        <div class="success-icon">
            <mat-icon class="mat-success">check_circle</mat-icon>
        </div>
        <div class="success-message">
            <h2 class="mat-title mat-primary">Success!</h2>
            <p class="mat-body-1">Your submission was successful.</p>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="mat-dialog-actions">
        <button mat-button mat-dialog-close color="primary">Close</button>
    </mat-dialog-actions>
</ng-template>