<div class="col-6 mx-auto">

  <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
</div>
<div class="container">
  {{htmlContent}}
</div>



<div class="container border border-1 rounded bg-white my-3 card"
  style="border-color: rgb(187, 187, 187); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">
  <div class="row">

      <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Basic informations</ng-template>
            
            

            <mat-form-field class="col-12 example-full-width">
              <mat-label>Job title*</mat-label>
              <input matInput>
            </mat-form-field>

            <br>
      
            <mat-form-field class="col-12 example-full-width">
              <mat-label>Number of people to hire for this job*</mat-label>
              <mat-select>
                <mat-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" value="option{{ i }}">{{ i }}</mat-option>
              </mat-select>
            </mat-form-field>
      
            
            <br>


            <mat-form-field class="col-12 example-full-width">
              <mat-label>Job title</mat-label>
              <input matInput>
            </mat-form-field>


            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
      

    </div>
</div>