@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Roboto:wght@100&display=swap');

.mat-toolbar {
  background-color: transparent;
  color: rgb(55, 55, 55);
  height: 55px;
  margin-top:10px;
}

.mat-button {
  color: white;
}

.anchor-tag {
  text-decoration: none;
  font-family: helvetica, 'Montserrat', arial, 'Montserrat', sans-serif;
  letter-spacing: -0.01px;
}

.a-container {
  height: 100%;
  display: flex;
  align-items: center;
  /* This will vertically center the content */
  justify-content: center;
  /* This will horizontally center the content (optional) */
}


.anchor-tag::after {
  content: "";
  position: absolute;
  bottom: -73%;
  left: 0;
  width: 100%;
  height: 2px;
  /* Set the height of the blue line */
  /* background-color: rgb(228, 106, 106); */
  background-color: rgb(33, 100, 167); 
  /* Set the desired color */
  transform: scaleX(0);
}

.anchor-tag:hover::after {
  transform: scaleX(1);
}

.divider {
  background-color: rgb(255, 0, 0);
}

.split {
  margin-right: 20px;
}

.nav-right {
  height: 100%;
  display: flex;
  align-items: center;
  /* This will vertically center the content */
  justify-content: center;
  /* This will horizontally center the content (optional) */
  position: relative;
}

.vertical-divider {
  width: 1px;
  /* Set the width of the vertical divider */
  height: 80%;
  /* Set the height of the vertical divider (adjust as needed) */
  background-color: rgb(190, 190, 190);
  /* Set the color of the vertical divider */
}

.nav-icons {
  font-size: 20px;
}

hr {
  background-color: rgb(186, 186, 186);
}


#bell {
  height: auto;
  position: relative;
  border-radius: 5px;
}

#esprit {
  height: 50px;
}

@media (max-width: 435px) {
  #esprit {
    height: 30px;
  }
}

@media (max-width: 290px) {
  .a-container {
    margin-left: -900px;
  }

  .nav-icons {
    font-size: 15px;
  }

  #esprit {
    height: 23px;
  }
}

@media (max-width: 380px) {
  #esprit {
    margin-right: -30px;
  }
}

mat-drawer-container {
  height: 100%;

}

mat-drawer {
  width: 60%;
}

mat-drawer {
  position: absolute;
}

.anchor-tag.selected::after {
  transform: scaleX(1);
  /* Keep the line visible for the selected link */
}

.full-name {
    display: inline-block;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }